@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  outline: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  border: none;
  button {
    background: none;
    cursor: pointer;
  }
}

:root{
  --body: #fff;
  --text-body: #4B4B4B;
  --text-menu: #fff;
  --header-color: #1976D2;
}

:root .dark-theme{
  --body: #4B4B4B;
  --text-body: #fff;
  --text-menu: #fff;
  --header-color: #0D47A1;
}

body{
  background-color: var(--body);
}

.container{
  width: 560px;
  margin: 50px auto;

  h1{
    color: var(--text-body);
  }

  p{
    color: var(--text-body);
  }
}


